.DS_Store
*.rej
*.log
*.orig
*.pyc
*.swp
*.swn
*.swo
*.sqlite
*.sqlite-shm
*.sqlite-wal
.svn
*~
manifest.appcache

/webapps/calendar/js/common/presets.js
/webapps/camera/js/config.js
/webapps/gallery/js/config.js
/webapps/findmydevice/js/config.js
/webapps/homescreen/js/init.json
/webapps/homescreen/everything.me/config/local.json
/webapps/costcontrol/js/config.json
/webapps/sms/js/blacklist.json
/webapps/settings/resources/network.json
/webapps/settings/resources/support.json
/webapps/settings/resources/device-features.json
/webapps/settings/resources/findmydevice.json
/webapps/system/resources/icc.json
/webapps/system/resources/wapuaprof.json

/webapps/*/test/unit/_sandbox.html
/webapps/*/test/unit/_proxy.html
/webapps/*/locales-obj

/dev_webapps/*/test/unit/_sandbox.html
/dev_webapps/*/test/unit/_proxy.html
/dev_webapps/*/locales-obj

/shared/test/integration/node_modules
/shared/pages/import/js/parameters.js
/shared/js/search_providers.json

/b2g
/b2g_bin
/firefox
/profile/
/profile-debug/
/profile-test/
/profile-gaia-test-b2g/
/profile-gaia-test-firefox/
/profile-raptor/
/profile.tar.gz
/b2g_sdk/
/toolkit/test-agent/node_modules
/test-output.xml
/mocha-test-results.html
/build/config/custom-extensions.json
/build/config/custom-prefs.js
/build/config/custom-settings.json
/build/eslint/xfail.list.tmp
/build_stage/
/coverage/
/local.mk
/npm-debug.log
/os

/raptor.log
/metrics.ldjson
/distros/raptor/outoftree_apps/

/toolkit/xpcwindow/vendor/

/outoftree_apps/
/distros/spark/outoftree_apps/

/distribution/
/.modules.tar
/modules_tar_cachedir
ENV/
.env
modules.tar
mozilla-b2g-gaia-node-modules-*
/git-gaia-node-modules/
/docs/
/.cproject
/.project
/.settings

node_modules/
venv/
b2g_bin/
