/*csslint empty-rules: false*/
/* See bug 1053721 */
:root {
  --software-home-button-height: 4rem;
  --statusbar-height: 4rem;
  --statusbar-safezone-left: 0;
  --statusbar-safezone-right: 0;
  --blur-radius: 32px;

  /* The scale factor for the shrinking rocketbar */
  /* 0.682 = --statusbar-height (3rem) / rocketbar height (3.8rem) */
  --rocketbar-scale: 0.790;
  --rocketbar-urlbar-height: 3.8rem;

  /* To avoid statusbar getting cut-off on rounded screen devies */
  /* I added this for that */
  --screen-border-radius: 2rem;
}
