/* ----------------------------------

 * BUTTONS: DEFAULT
 * ---------------------------------- */
 [role="dialog"] button::-moz-focus-inner {
  border: none;
  outline: none;
}

[role="dialog"] button,
[role="dialog"] a.bb-button {
  font-family: sans-serif;
  font-style: normal;
  width: 100%;
  height: 4rem;
  margin: 0 0 1rem;
  padding: 0 0.2rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #e0e0e0;
  border: none;
  border-radius: 2rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  outline: none;
}

/* Affirmative */
[role="dialog"] button.affirmative,
[role="dialog"] a.bb-button.affirmative {
  background-color: var(--accent-color, #0061e0);
  color: #fff;
}

[role="dialog"] button.affirmative:hover,
[role="dialog"] a.bb-button.affirmative:hover {
  background: var(--accent-color, #0061e0) linear-gradient(0deg, rgba(0,0,0,0.125), rgba(0,0,0,0.125));
}

[role="dialog"] button.affirmative:active,
[role="dialog"] a.bb-button.affirmative:active {
  background: var(--accent-color, #0061e0) linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

/* Negative */
[role="dialog"] button.negative,
[role="dialog"] a.negative.bb-button {
  background-color: #c00040;
  color: #fff;
}

[role="dialog"] button.negative:hover,
[role="dialog"] a.negative.bb-button:hover {
  background-color: #b00030;
}

[role="dialog"] button.negative:active,
[role="dialog"] a.negative.bb-button:active {
  background-color: #a00020;
}

/* Hovered */
[role="dialog"] button:hover,
[role="dialog"] a.bb-button:hover {
  background-color: #d0d0d0;
}

/* Pressed */
[role="dialog"] button:active,
[role="dialog"] a.bb-button:active {
  background-color: #c0c0c0;
}

/* Disabled */
[role="dialog"] button[disabled="disabled"],
[role="dialog"] a.bb-button[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

button[disabled]::-moz-selection,
.button[aria-disabled="true"]::-moz-selection,
.bb-button[aria-disabled="true"]::-moz-selection {
  -moz-user-select: none;
}

/* Icons in buttons */
[role="dialog"] button span,
[role="dialog"] a.bb-button span {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.5rem;
  margin-inline-start: -1rem;
  background: transparent no-repeat center center;
}
html[dir="ltr"] [role="dialog"] button span,
html[dir="ltr"] [role="dialog"] a.bb-button span {
  float: left;
}
html[dir="rtl"] [role="dialog"] button span,
html[dir="rtl"] [role="dialog"] a.bb-button span {
  float: right;
}

[role="dialog"] button span.end,
[role="dialog"] a.bb-button span.end {
  margin: 0.3rem -1.5rem 0;
  margin-inline-start: 1rem;
}
html[dir="ltr"] [role="dialog"] button span.end,
html[dir="ltr"] [role="dialog"] a.bb-button span.end {
  float: right;
}
html[dir="rtl"] [role="dialog"] button span.end,
html[dir="rtl"] [role="dialog"] a.bb-button span.end {
  float: left;
}

/* Icon base types */
[role="dialog"] button span.goto,
[role="dialog"] a.bb-button span.goto {
  background-image: url(images/icons/goto.png);
}

[role="dialog"] button span.launch,
[role="dialog"] a.bb-button span.launch {
  background-image: url(images/icons/launch.png);
}
html[dir="ltr"] [role="dialog"] button span.launch,
html[dir="ltr"] [role="dialog"] a.bb-button span.launch {
  background-position: left 1rem bottom;
}
html[dir="rtl"] [role="dialog"] button span.launch,
html[dir="rtl"] [role="dialog"] a.bb-button span.launch {
  background-position: right 1rem bottom;
}

[role="dialog"] button span.favorite,
[role="dialog"] a.bb-button span.favorite {
  background-image: url(images/icons/favorite.png);
}

[role="dialog"] button span.call,
[role="dialog"] a.bb-button span.call {
  background-image: url(images/icons/call.png);
  background-position: center bottom;
}

[role="dialog"] button span.tick,
[role="dialog"] a.bb-button span.tick {
  background-image: url(images/icons/tick.png);
}


/* ----------------------------------
 * BUTTONS: LIST
 * ---------------------------------- */
[role="dialog"] .buttons-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

[role="dialog"] .buttons-list label {
  font-size: 1.4rem;
  line-height: 1em;
  text-transform: uppercase;
  display: block;
  padding-inline-start: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Default */
[role="dialog"] .buttons-list button,
[role="dialog"] .buttons-list a.bb-button {
  font-size: 1.4rem;
  line-height: 2.9rem;
  position: relative;
  overflow: visible;
}
html[dir="ltr"] [role="dialog"] .buttons-list button,
html[dir="ltr"] [role="dialog"] .buttons-list a.bb-button {
  text-align: left;
}
html[dir="rtl"] [role="dialog"] .buttons-list button,
html[dir="rtl"] [role="dialog"] .buttons-list a.bb-button {
  text-align: right;
}

[role="dialog"] .buttons-list a.bb-button:after,
[role="dialog"] .buttons-list button:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-image: url(images/ui/shadow.png);
  background-repeat: repeat-x;
  height: 0.2rem;
  margin-top: 0.1rem;
  pointer-events: none;
}
html[dir="ltr"] [role="dialog"] .buttons-list a.bb-button:after,
html[dir="ltr"] [role="dialog"] .buttons-list button:after {
  background-position: left bottom;
}
html[dir="rtl"] [role="dialog"] .buttons-list a.bb-button:after,
html[dir="rtl"] [role="dialog"] .buttons-list button:after {
  background-position: right bottom;
}

[role="dialog"] .buttons-list a.bb-button:active:after,
[role="dialog"] .buttons-list button:active:after {
  opacity: 0;
}

[role="dialog"] .buttons-list button[disabled="disabled"]:after,
[role="dialog"] .buttons-list a.bb-button[aria-disabled="true"]:after {
  opacity: 1;
}


/* Compact mode */
[role="dialog"] .buttons-list[data-mode="compact"] { margin-bottom: 1rem; }
[role="dialog"] .buttons-list[data-mode="compact"] button,
[role="dialog"] .buttons-list[data-mode="compact"] a.bb-button {
  margin: -0.1rem 0;
  border-radius: 0;
}

[role="dialog"] .buttons-list[data-mode="compact"] li:first-child button,
[role="dialog"] .buttons-list[data-mode="compact"] li:first-child a.bb-button {
  border-radius: 0.3rem 0.3rem 0 0;
}

[role="dialog"] .buttons-list[data-mode="compact"] li:last-child button,
[role="dialog"] .buttons-list[data-mode="compact"] li:last-child a.bb-button {
  border-radius:0 0 0.3rem 0.3rem;
}
