/* ----------------------------------
 * STYLES FOR PROMPT
 * Requires:
    menu-dialoges/core.css
    other/buttons/style.css
 * ---------------------------------- */

[role="dialog"] p:last-child {
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}

[role="dialog"] .content {
  font-weight: 300;
  font-size: 2.2rem;
  color: var(--text-color, #333);
  border-bottom: 0.1rem solid rgba(0,0,0,0.125);
  margin: 0;
  padding: 2.5rem 0 2rem;
}

[role="dialog"] .content img {
  margin-inline-end: 2rem;
}
html[dir="ltr"] [role="dialog"] .content img { float: left; }
html[dir="rtl"] [role="dialog"] .content img { float: right; }

[role="dialog"] .content strong {
  font-weight: 300;
}

[role="dialog"] .content small {
  font-size: 1.4rem;
  font-weight: normal;
  color: #cbcbcb;
  display: block;
}
