/**
 * Deck smart-button
 */

smart-button .icon[data-icon] {
  position: relative;
  color: white;
  display: inline-block;
  line-height: 28rem;
}

smart-button .icon[data-icon]:before {
  font-size: 30rem;
}

smart-button[type="app-button"].deck-tv {
  background-color: #c00040;
}

smart-button[type="app-button"].deck-application {
  background-color: #40a060;
}

smart-button[type="app-button"].deck-device {
  background-color: #0061e0;
}

smart-button[type="app-button"].deck-dashboard {
  background-color: #FF7E00;
}

.card smart-button {
  text-align: center;
}

.card smart-button[type="app-button"]::after {
  left: 0;
}

/**
 * Deck wave effect
 */

.deck-wave {
  position: absolute;
  width: 33.4rem;
  height: 33.4rem;
  animation: defaultWaveAnimation 3.0s cubic-bezier(.2, .9, .1, 1) 0s infinite normal;
  animation-play-state: paused;
}

.card.focused .deck-wave {
  animation-play-state: running;
}

#main-section[data-mode="edit"] .deck-wave,
#main-section[data-mode="arrange"] .deck-wave {
  animation-play-state: paused;
}

.wave-front {
  left: 0;
  top: 0;
  animation-name: defaultWaveAnimation;
  background: linear-gradient(-75deg, transparent 25%, rgba(255,255,255,0.25) 50%, transparent 75%) no-repeat center / 66.7rem;
}

@keyframes defaultWaveAnimation {
  from {background-position: -66.7rem 0;}
  to {background-position: 66.7rem 0;}
}
