
/**
 * 1. Keep items in same order for both
 *    LTR and RTL (bug 1174650).
 */

 #quick-settings {
  pointer-events: none;
  direction: ltr; /* 1 */
  margin: 0 1rem 0.5rem;
}

#quick-settings > ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

#quick-settings li {
  padding: 0;
  margin: 0 0.5rem 1rem;
  list-style: none;
  text-align: center;
  width: calc(50% - 1rem);
}

#quick-settings a {
  display: flex;
  height: 6rem;
  margin: 0;
  color: var(--text-color, #333);
  text-decoration: none;
  outline: none;
  background: none;
  pointer-events: auto;
  border-radius: 0.8rem;
  position: relative;
  background: var(--translucent, rgba(0,0,0,0.05));
  width: 100%;
  padding: 0 0.5rem;
  -moz-padding-start: 5rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: start;
  align-items: center;
  transition: transform 0.3s ease;
}

#quick-settings a > svg {
  line-height: -moz-block-height;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 2.4rem;
  height: 100%;
  font-size: 2.4rem;
  -moz-margin-start: 1.5rem;
}

#quick-settings a:hover {
  background: var(--translucent-plus, rgba(0,0,0,0.1));
}

#quick-settings a:active {
  background: var(--translucent-minus, rgba(0,0,0,0.2));
}

#quick-settings > *[data-initializing] {
  opacity: 0.5;
}

.non-mobile #quick-settings-data {
  opacity: 0.5;
  pointer-events: none;
}

#quick-settings-wifi[data-enabled],
#quick-settings-data[data-enabled],
#quick-settings-bluetooth[data-enabled],
#quick-settings-airplane-mode[data-enabled],
#quick-settings-airplane-mode[data-enabling] {
  color: var(--accent-text-color, rgba(255,255,255,0.75));
  background-color: var(--accent-color, #0061e0) !important;
  box-shadow: 0 0.5rem 1.5rem -0.5rem var(--accent-color);
  transition: 0.2s ease;
}

#quick-settings-wifi[data-enabled]:hover,
#quick-settings-data[data-enabled]:hover,
#quick-settings-bluetooth[data-enabled]:hover,
#quick-settings-airplane-mode[data-enabled]:hover,
#quick-settings-airplane-mode[data-enabling]:hover {
  box-shadow: 0 1rem 2.5rem -0.5rem var(--accent-color);
}

#quick-settings-airplane-mode[data-enabling] {
  opacity: 0.5;
}

#quick-settings-airplane-mode[data-disabling] {
  color: var(--text-color, #333);
  opacity: 0.5;
}

.quick-settings-airplane-mode {
  opacity: 0.5;
}

#quick-settings-bluetooth .arrow1 {
  opacity: 0;
}

#quick-settings-bluetooth .arrow2 {
  opacity: 0;
}

#quick-setting-data-enabled-dialog {
  /* Increasing padding size form 1.5 to 3.5rem for confirm dialogs with statusbar active */
  padding-top: 3.5rem;
  display: none;
}

#quick-setting-data-enabled-dialog.visible {
  display: inline-block;
  pointer-events: auto;
}

#screen.software-button-enabled #quick-setting-data-enabled-dialog {
  bottom: calc(var(--panel-height) + (var(--panel-margin) * 2));
}

@media (orientation: landscape) {
  #screen.software-button-enabled #quick-setting-data-enabled-dialog {
    bottom: 0;
    /* BiDi note: the software home button should not be mirrored in RTL. */
    right: calc(var(--panel-height) + (var(--panel-margin) * 2));
  }
}

#quick-settings-bar {
  height: 4.5rem;
  padding: 0;
  padding-inline-start: 1.5rem;
  box-sizing: border-box;
}

#quick-settings-bar [data-icon] {
  margin: 1.1rem 0;
  color: var(--text-color, #333);
}

#quick-settings-bar .title-container {
  display: flex;
  width: calc(100% - 4rem);
  font: normal normal 1.8rem/4.2rem auto;
  margin-inline-start: 1rem;
}
html[dir="ltr"] #quick-settings-bar .title-container {
  float: left;
}
html[dir="rtl"] #quick-settings-bar .title-container {
  float: right;
}

#quick-settings-bar .title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-inline-start: .5rem;
  color: var(--text-color, #333);
}

#quick-settings-bar button {
  flex: initial;
  width: auto;
  height: 4.5rem;
  padding: 0 1rem;
  border: 0;
  border-radius: 0.8rem;
  color: var(--text-color, #333);
  background: none;
  font: normal bold 1.4rem/1.4rem auto;
  text-transform: uppercase;
  box-sizing: border-box;
  min-width: 4.5rem;
}

#quick-settings-bar button:hover {
  background-color: var(--translucent, rgba(0,0,0,0.05));
}
#quick-settings-bar button:active {
  background-color: var(--translucent-plus, rgba(0,0,0,0.1));
}
#quick-settings-bar button[disabled] {
  color: #858585;
  pointer-events: none;
}

#quick-settings-bar button[data-icon] {
  margin: 0;
}

#quick-settings-bar button[data-icon]:before {
  font-size: 2.4rem;
  line-height: 4.5rem;
}

/* remove ugly dotted outline when focus */
#quick-settings-bar button::-moz-focus-inner {
  border: 0;
}

/*
 * Animated Icons
 */
#quick-settings-wifi[data-enabled] .wave1 {
  animation: quick-settings-wifi-wave1 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

#quick-settings-wifi[data-enabled] .wave2 {
  animation: quick-settings-wifi-wave2 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

#quick-settings-wifi[data-enabled] .wave3 {
  animation: quick-settings-wifi-wave3 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

@keyframes quick-settings-wifi-wave1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes quick-settings-wifi-wave2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes quick-settings-wifi-wave3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}

#quick-settings-airplane-mode[data-enabling] .plane,
#quick-settings-airplane-mode[data-enabled] .plane {
  animation: quick-settings-airplane-mode 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

@keyframes quick-settings-airplane-mode {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  50.01% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#quick-settings-bluetooth[data-enabled] .base {
  animation: quick-settings-bluetooth-base 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

#quick-settings-bluetooth[data-enabled] .arrow1 {
  animation: quick-settings-bluetooth-arrow1 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

#quick-settings-bluetooth[data-enabled] .arrow2 {
  animation: quick-settings-bluetooth-arrow2 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

@keyframes quick-settings-bluetooth-base {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.4rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes quick-settings-bluetooth-arrow1 {
  0% {
    transform: translateX(-0.2rem);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-0.2rem);
    opacity: 0;
  }
}

@keyframes quick-settings-bluetooth-arrow2 {
  0% {
    transform: translateX(-0.1rem);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-0.1rem);
    opacity: 0;
  }
}

#quick-settings-data[data-enabled] .tr-arrow {
  animation: quick-settings-data-tr-arrow 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

#quick-settings-data[data-enabled] .bl-arrow {
  animation: quick-settings-data-bl-arrow 0.3s cubic-bezier(0.2, 0.1, 0.9, 1);
}

@keyframes quick-settings-data-tr-arrow {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0.1rem, -0.1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes quick-settings-data-bl-arrow {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-0.1rem, 0.1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
