#contextmenu-dialog {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20001; /* rise above the dock */
  transform: translateY(32px);
  visibility: hidden;
  opacity: 0;
  transition: transform cubic-bezier(0.2, 0.9, 0.1, 1) .3s, opacity cubic-bezier(0.2, 0.9, 0.1, 1) .3s, visibility ease .3s;
}

#contextmenu-dialog.show {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
}

#contextmenu-dialog.visible {
  visibility: visible;
}
