/* ----------------------------------
* Tabs
* ---------------------------------- */

.bb-tablist:before {
  content: "";
  position: absolute;
  bottom: 6rem;
  left: 0;
  width: 100%;
  height: 0;
}

.bb-tablist {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 0;
  background: var(--background, #e7e9ec);
}

.bb-tablist > li {
  -moz-box-sizing: content-box;
  margin: 0;
  padding: 0;
  height: 6rem;
  background-color: var(--background, #e7e9ec);
  list-style: none;
  pointer-events: all;
  flex: 1 1 0;
}

.bb-tablist > li > a,
.bb-tablist > li > button {
  position: relative;
  -moz-box-sizing: content-box;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #5f5f5f;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  line-height: 6rem;
  border: 0;
  background-color: transparent;
  background-size: 3rem auto;
  background-repeat: no-repeat;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bb-tablist > li > button {
  background-image: none;
}

.bb-tablist > li > button::-moz-focus-inner {
  border: none;
  outline: none;
}

.bb-tablist > li > .icon {
  font-size: 0;
  background-position: 50% 0;
}

.bb-tablist > li > a[data-icon] {
  line-height: 0;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.bb-tablist > li > a[data-icon]:before {
  line-height: 3.8rem;
  font-size: 2.4rem;
}

.bb-tablist > li > a:active,
.bb-tablist > li > button:active {
  border-radius: 0;
  background-color: #b2f2ff;
}

.bb-tablist > li > a:after,
.bb-tablist > li > button:after {
  display: inline-block;
  content: "";
  position: absolute;
  width: calc(100% - 0.8rem);
  left: 0.4rem;
  top:0.4rem;
  height: calc(100% - 0.8rem);
  background: var(--accent-color, #0061e0);
  border-radius: 1rem;

  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: scale(0.9);
}

/* ----------------------------------
 * Skin: dark
 * ---------------------------------- */
.bb-tablist.skin-dark:before {
  border-color: rgba(189,189,189, 0.1);
}

.bb-tablist.skin-dark > li:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6rem;
  background-color: var(--accent-color-text, rgba(0,0,0,0.75));
  z-index: -1;
}

.bb-tablist.skin-dark > li {
  background-color: transparent;
}

.bb-tablist.skin-dark > li > a,
.bb-tablist.skin-dark > li > button {
  color: var(--text-color-minus, #fff)fff;
  background-color: transparent;
}

.bb-tablist.skin-dark > li > a:active,
.bb-tablist.skin-dark > li > button:active {
  background-color: rgb(0,170,204);
}

/* Selected state */
.bb-tablist > li > a:after,
.bb-tablist > li > button:after {
  display: none;
}

.bb-tablist > li > a[aria-selected="true"],
.bb-tablist > li > button[aria-selected="true"] {
  color: var(--accent-color, #0061e0);
  font-weight: 500;
  background-position: 50% 100%;
}

.bb-tablist > li > a[aria-selected="true"]:after,
.bb-tablist > li > button[aria-selected="true"]:after,
.bb-tablist > li[aria-selected="true"] > a:after,
.bb-tablist > li[aria-selected="true"] > button:after {
  opacity: 0.2;
  transform: scale(1);
}

.bb-tablist > li > a[aria-selected="true"]:active,
.bb-tablist > li > button[aria-selected="true"]:active {
  color: #5f5f5f;
  background-position: 50% 0;
}

.bb-tablist.skin-dark > li > a[aria-selected="true"]:active,
.bb-tablist.skin-dark > li > button[aria-selected="true"]:active {
  background-color: #00aacc;
  color: var(--text-color-minus, #fff);
}


/* Disabled state */
.bb-tablist > li[aria-disabled="true"] > a,
.bb-tablist > li[aria-disabled="true"] > button,
.bb-tablist > li[disabled] > a,
.bb-tablist > li[disabled] > button,
.bb-tablist > li > a[aria-disabled="true"],
.bb-tablist > li > button[aria-disabled="true"],
.bb-tablist > li > a[disabled],
.bb-tablist > li > button[disabled] {
  color: var(--text-color, #333)333;
  opacity: 0.25;
  pointer-events: none;
}

.bb-tablist.skin-dark > li[aria-disabled="true"] > a,
.bb-tablist.skin-dark > li[aria-disabled="true"] > button,
.bb-tablist.skin-dark > li[disabled] > a,
.bb-tablist.skin-dark > li[disabled] > button,
.bb-tablist.skin-dark > li > a[aria-disabled="true"],
.bb-tablist.skin-dark > li > button[aria-disabled="true"],
.bb-tablist.skin-dark > li > a[disabled],
.bb-tablist.skin-dark > li > button[disabled] {
  opacity: 0.35;
  background-color: transparent;
}

.bb-tablist .bb-tabpanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 6rem;
  left: 0;
  visibility: hidden;
  overflow: auto;
}

.bb-tablist [aria-selected="true"] ~.bb-tabpanel {
  visibility: visible;
}

/* ----------------------------------
 * Filters
 * ---------------------------------- */

.bb-tablist[data-type="filter"] {
  display: flex;
  position: relative;
  height: 4rem;
  background: var(--background-plus, #fff);
  border-bottom: 0.1rem solid #e7e9ec;
  box-sizing: border-box;
}

.bb-tablist[data-type="filter"]:before {
  display: none;
}

.bb-tablist[data-type="filter"] > li {
  background: none;
  position: relative;
  color: #737272;
  text-align: center;
  height: 100%;
}

.bb-tablist[data-type="filter"] > li:first-child {
  border-inline-start: none;
}

.bb-tablist[data-type="filter"] > li > a,
.bb-tablist[data-type="filter"] > li > button {
  height: 4rem;
  border: none;
  box-sizing: border-box;
  width: auto;
  position: static;
  display: inline-block;
  padding: 0 0.5rem;
  color: #575757;
  line-height: 4rem;
  font-style: none;
  text-decoration: none;
  text-overflow: ellipsis;
}

.bb-tablist[data-type="filter"] > li > a:before,
.bb-tablist[data-type="filter"] > li > button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bb-tablist[data-type="filter"] > li:before,
.bb-tablist[data-type="filter"] > li > a[aria-selected="true"]:after,
.bb-tablist[data-type="filter"] > li > button[aria-selected="true"]:after {
  display: none;
}

/* Selected state */
.bb-tablist[data-type="filter"] > li > a[aria-selected="true"],
.bb-tablist[data-type="filter"] > li > button[aria-selected="true"] {
  color: var(--accent-color-text, rgba(0,0,0,0.75));
  color: var(--accent-color, #0061e0);
  border-bottom: 0.3rem solid var(--accent-color, #0061e0);
}

.bb-tablist[data-type="filter"] > li > a[aria-selected="true"]:after,
.bb-tablist[data-type="filter"] > li > button[aria-selected="true"]:after {
  display: none;
}

.bb-tablist[data-type="filter"] > li > a:active {
  background-color: transparent;
}
