#screen:not(.locked).fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="action"],
#screen:not(.locked).fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="object"],
#screen.locked.secure-app.software-button-enabled [role="dialog"][data-type="action"],
#screen.locked.secure-app.software-button-enabled [role="dialog"][data-type="object"],
#screen:not(.locked).software-button-enabled [role="dialog"][data-type="action"],
#screen:not(.locked).software-button-enabled [role="dialog"][data-type="object"] {
  bottom: calc(var(--panel-height) + (var(--panel-margin) * 2));
}

/* Dialogs inside an appWindow don't need to take the SHB into account */
#screen.software-button-enabled .appWindow [role="dialog"][data-type="object"],
#screen.software-button-enabled .appWindow [role="dialog"][data-type="action"] {
  bottom: 0;
}


#screen.fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="action"] {
  height: calc(100% - 7rem - (var(--panel-height) + (var(--panel-margin) * 2)));
}

@media (orientation: landscape) {
  #screen.fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="object"],
  #screen.fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="action"],
  #screen:not(.locked).software-button-enabled [role="dialog"][data-type="action"],
  #screen:not(.locked).software-button-enabled [role="dialog"][data-type="object"],
  #screen.software-button-enabled [role="dialog"][data-type="object"],
  #screen.software-button-enabled [role="dialog"][data-type="action"] {
    height: calc(100% - 7rem);
    bottom: 0;
    /* BiDi note: the software home button should not be mirrored in RTL. */
    right: calc(var(--panel-height) + (var(--panel-margin) * 2));
  }

  /* Dialogs inside an appWindow don't need to take the SHB into account */
  #screen.software-button-enabled .appWindow [role="dialog"][data-type="object"],
  #screen.software-button-enabled .appWindow [role="dialog"][data-type="action"] {
    right: 0;
  }
}

/* Extending action menu with icon capability & transition*/

form[role="dialog"][data-type="action"] > menu > button.icon,
form[role="dialog"][data-type="object"] > menu > button.icon {
  background-repeat: no-repeat;
  background-size: 3rem;
}
html[dir="ltr"] form[role="dialog"][data-type="action"] > menu > button.icon,
html[dir="ltr"] form[role="dialog"][data-type="object"] > menu > button.icon {
  background-position: left 1rem top 1rem;
  padding-left: 5rem;
}
html[dir="rtl"] form[role="dialog"][data-type="action"] > menu > button.icon,
html[dir="rtl"] form[role="dialog"][data-type="object"] > menu > button.icon {
  background-position: right 1rem top 1rem;
  padding-right: 5rem;
}

form[role="dialog"][data-type="action"],
form[role="dialog"][data-type="object"] {
  /* Forcing position absolute when hidden in order to avoid
  unwanted scroll events due to Bug 1077474 */
  position: absolute;

  visibility: hidden;
  transform: translateY(32px) scale(0.95);
  opacity: 0;
  transition: transform cubic-bezier(0.2, 0.9, 0.1, 1) .3s, opacity cubic-bezier(0.2, 0.9, 0.1, 1) .3s, visibility .3s;
  pointer-events: none;
}

form[role="dialog"][data-type="action"].visible,
form[role="dialog"][data-type="object"].visible {
  position: fixed;
  visibility: visible;
  transform: translateY(0) scale(1);
  opacity: 1;
  pointer-events: auto;
}

/* Extending action menu to display checkbox */
form[role="dialog"][data-type="action"] > menu > gaia-checkbox {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}
