.appWindow.browser,
.appWindow.search-app {
  --statusbar-height: var(--browser-tab-list-height);
}

.appWindow:not(.bar) > .chrome {
  pointer-events: none;
  top: 0;
  height: calc(var(--browser-tab-list-height) + var(--rocketbar-urlbar-height) + var(--grippy-padding) + 0.2rem);
  transform: scaleY(var(--rocketbar-scale)) translateY(calc(var(--browser-tab-list-height) * -1));
  transition: transform 1s cubic-bezier(0.2, 0.9, 0.1, 1.0),
              background-color var(--transition-duration) ease;

  background-color: var(--background-plus, #fff);
  color: var(--text-color, #333);
  z-index: 9;
  --grippy-padding: 0rem;
}
html[dir="ltr"] .appWindow:not(.bar) > .chrome { transform-origin: top left; }
html[dir="rtl"] .appWindow:not(.bar) > .chrome { transform-origin: top right; }

:not(.browser).appWindow[data-shrinking-state="true"] > .chrome {
  height: calc(var(--browser-tab-list-height) / var(--rocketbar-scale));
  transform: translateY(0);
}

.appWindow.light > .chrome {
  background-color: white;
  color: #333;
}

.appWindow.dark > .chrome {
  background-color: #303030;
  color: white;
}

.appWindow.private > .chrome {
  background-color: #392e54;
  color: #fff;
}

.appWindow:not(.bar) > .chrome.maximized {
  transform: scaleY(1) translateY(0);
  --grippy-padding: 0.4rem;
}

.appWindow.fullscreen-app:not(.bar) > .chrome:not(.maximized) {
  height: var(--browser-tab-list-height);
  top: 0;
}

.appWindow:not(.bar).fullscreen-app > .chrome.maximized {
  top: 0;
  transform: scaleY(1) translateY(-7.6rem);
}

.appWindow:not(.bar).maximized-app > .chrome.maximized {
  --grippy-padding: 0rem;
}

.controls {
  pointer-events: none;
  background-color: transparent;
  position: absolute;
  top: calc(var(--browser-tab-list-height) + var(--grippy-padding));
  width: 100%;
  font-size: 0;
  padding: 0.4rem;
  box-sizing: border-box;
}

.chrome.maximized .controls {
  pointer-events: auto;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.25);
  height: var(--browser-navbar-height);
}

.chrome .controls .windows-button {
  display: none;
}

/* Special cases */
.searchWindow > .chrome {
  display: none;
}

[data-manifest-name="FTU"]:not(.bar) > .chrome .controls,
[data-manifest-name="FTU"]:not(.bar) > .chrome .progress,
.lockScreenWindow:not(.bar) > .chrome .controls,
.lockScreenWindow:not(.bar) > .chrome gaia-progress,
.homescreen:not(.bar) > .chrome gaia-progress,
.globalOverlayWindow:not(.bar) > .chrome .controls,
.globalOverlayWindow:not(.bar) > .chrome gaia-progress {
  visibility: hidden;
}

.lockScreenWindow:not(.bar) > .chrome,
.globalOverlayWindow:not(.bar) > .chrome {
  background-color: transparent;
}

#screen.attention .lockScreenWindow:not(.bar) > .chrome {
  background-color: black;
}

/* Special cases for Rocketbar in apps with browser chrome */
.appWindow:not(.browser) .chrome .controls .menu-button {
  display: none;
}

/* Maximized rocketbar size when the 'Windows' button is not displayed */
.appWindow.fullscreen-app:not(.browser) .chrome.maximized .controls .urlbar,
.appWindow:not(.browser):not(.search-app) .chrome.maximized .controls .urlbar {
  width: calc(100% - 20.8rem);
}

/* Special cases for rocketbar on the Top Sites view and homescreens */
.homescreen .menu-button,
.homescreen .controls .reload-button,
.homescreen .controls .stop-button,
.search-app .menu-button,
.search-app .controls .reload-button,
.search-app .controls .stop-button,
.chrome .controls .windows-button {
  display: none;
}

.chrome:not(.maximized) .controls .urlbar {
  width: calc(100% - 8.8rem);
}

/* Give the urlbar an extra hit target reaching toward the top of the screen. */
.chrome:not(.maximized) .controls .urlbar-hit-area {
  position: absolute;
  width: 100%;
  height: calc(var(--browser-navbar-height) - 0.8rem);
  top: -0.8rem;
}

.search-app .chrome .controls .windows-button {
  display: inline;
}

/* URL bar */
.chrome .controls .urlbar {
  width: calc(100% - 28.8rem);
  height: calc(var(--browser-navbar-height) - 0.8rem);
  line-height: calc(var(--browser-navbar-height) - 0.8rem);
  margin: 0 0 0.4rem;
  border-radius: 0.4rem;
  color: inherit;
  overflow: visible;
  background-color: transparent;
  position: absolute;
  offset-inline-start: 12.4rem;
}
html[dir="ltr"] .chrome .controls .urlbar { text-align: left; }
html[dir="rtl"] .chrome .controls .urlbar { text-align: right; }

.maximized .controls .urlbar {
  background-color: rgba(204,204,204,0.2);
}

.appWindow.light.collapsible .controls .urlbar {
  background-color: rgb(242, 242, 242); /* 255 * 0.95 */
}

.appWindow.dark.collapsible .controls .urlbar {
  background-color: rgb(32, 32, 32); /* 255 * 0.95 */
}

.appWindow .maximized .controls .urlbar {
  background-color: rgba(0,0,0,0.125);
}

.appWindow.private.collapsible .controls .urlbar {
  background-color: #392e54;
}

.chrome-combined .chrome-title-container {
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: 3.85rem;
  padding-inline-end: 0.8rem;
  box-sizing: padding-box;
  overflow: hidden;
  float: none;
  background-color: transparent;
  border-radius: 0.4rem;
  height: 100%;
}
.chrome-combined.private .chrome-title-container {
  padding-inline-start: 1.45rem;
}

.chrome-combined .title {
  overflow: hidden;
  white-space: nowrap;
  font-weight: normal;
  font-size: 2rem;
  font-style: normal;
  text-overflow: ellipsis;
  display: block;
  height: 100%;
  line-height: -moz-block-height;
}

.chrome-combined.maximized .title {
  width: calc(100% - 3.2rem);
  font-size: 1.6rem;
}

.chrome-plain .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.search-app .chrome.maximized .controls .urlbar:after {
  content: '';
  width: 2rem;
  height: 100%;
  top: 0;
  offset-inline-end: 0.8rem;
  position: absolute;
  background-image: url('images/search.png');
  background-repeat: no-repeat;
  background-size: 2rem auto;
  background-position: center right;
}

.chrome-combined.maximized .chrome-title-container {
  background-color: transparent;
}

.homescreen .chrome-combined .chrome-title-container {
  width: calc(100% - 2rem);
  padding-inline-start: 2rem;
}

.controls .urlbar {
  transition: transform 1s cubic-bezier(0.2, 0.9, 0.1, 1.0);
}
html[dir="ltr"] .controls .urlbar {
  transform-origin: top left;
  transform: scaleX(var(--rocketbar-scale)) translateY(0.1rem) translateX(-15rem);
}
html[dir="rtl"] .controls .urlbar {
  transform-origin: top right;
  transform: scaleX(var(--rocketbar-scale)) translateY(0.1rem) translateX(15rem);
}

.appWindow.fullscreen-app .chrome.dragged,
.appWindow.fullscreen-app .chrome.dragging {
  visibility: visible;
}

.appWindow.attentionWindow .chrome,
.appWindow.fullscreen-app .chrome {
  visibility: hidden;
}

.appWindow.collapsible.active .urlbar {
  will-change: transform;
}

.appWindow.fullscreen-app .chrome:not(.maximized) .controls .urlbar {
  transform: scale(var(--rocketbar-scale)) translateY(-6.1rem);
}
html[dir="ltr"] .appWindow.fullscreen-app .chrome:not(.maximized) .controls .urlbar { transform-origin: bottom left; }
html[dir="rtl"] .appWindow.fullscreen-app .chrome:not(.maximized) .controls .urlbar { transform-origin: bottom right; }

.maximized .controls .urlbar {
  transform: scaleX(1) !important;
}

/* Pinning the web */

.urlbar::before {
  content: "";
  bottom: -1.5rem;
  height: 1.5rem;
  width: 2.4rem;
  position: absolute;
  background-size: cover;
  background-image: url("images/arrow.png");
  transform: translateY(0) translateX(0) scale(1);
  transition: opacity var(--transition-duration), transform var(--transition-duration);
}
html[dir="ltr"] .urlbar::before { left: 0.35rem; }
html[dir="rtl"] .urlbar::before { right: 0.35rem; }

.pin-dialog.hidden ~ .controls .urlbar::before {
  opacity: 0;
}
html[dir="ltr"] .pin-dialog.hidden ~ .controls .urlbar::before {
  transform: translateY(-50%) translateX(-50%) scale(.3);
}
html[dir="rtl"] .pin-dialog.hidden ~ .controls .urlbar::before {
  transform: translateY(-50%) translateX(50%) scale(.3);
}

section.pin-dialog {
  visibility: visible;
  display: block;
  position: absolute;
  margin: 0 1rem;
  width: calc(100% - 2rem);
  top: calc(var(--browser-tab-list-height) + var(--rocketbar-urlbar-height) + 0.8rem);
  background-color: var(--background, #e7e7e7);
  font-size: 1.2rem;
  color: #858585;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  transform: translateY(0) translateX(0) scale(1);
  transition: visibility var(--transition-duration), opacity var(--transition-duration), transform var(--transition-duration);
}

section.pin-dialog.hidden {
  opacity: 0;
  visibility: hidden;
}
html[dir="ltr"] section.pin-dialog.hidden {
  transform: translateY(-50%) translateX(-50%) scale(.3);
}
html[dir="rtl"] section.pin-dialog.hidden {
  transform: translateY(-50%) translateX(50%) scale(.3);
}

.pin-scrim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Note: we cannot use bottom: 0 because the parent (.chrome) has a
     transition defined, which creates a new stacking context for it.
     So any coordinates (top, left, etc.) will be relative to this parent
     element instead of the viewport.
     see https://bugzilla.mozilla.org/show_bug.cgi?id=879443
  */
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.45);
  transition: opacity var(--transition-duration);
  pointer-events: auto;
}

section.pin-dialog.hidden + .pin-scrim {
  visibility: hidden;
  opacity: 0;
}

section.pin-dialog .card-container {
  overflow: hidden;
  text-align: center;
}

section.pin-dialog .pin-site-icon {
  font-weight: 300;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0 auto;
  background-size: 6.4rem;
  background-image: url('images/loading_icon_white.svg');
}

section.pin-dialog .pin-site-name {
  margin: 0;
  line-height: 6.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}

section.pin-dialog header h2 {
  margin: 0;
  line-height: 6.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: sans-serif;
  font-style: italic;
  white-space: nowrap;
  text-align: center;
}

section.pin-dialog footer {
  padding: 2.3rem 0;
}

section.pin-dialog button {
  position: relative;
  display: block;
  margin: 0 auto;
  float: none;
  width: -moz-fit-content;
  background-color: white;
  font-size: 1.6rem;
  font-style: italic;
}

section.pin-dialog footer span {
  display: block;
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}

section.pin-dialog .origin {
  padding: 0;
  margin: 0 auto;
  width: -moz-fit-content;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}

section.pin-dialog .origin .tld {
  display: inline;
}

section.pin-dialog .origin::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  margin: -0.7rem -2.5rem;
  background-size: cover;
  position: absolute;
}

section.pin-dialog.secure .origin {
  padding-inline-start: 1.5rem;
}

section.pin-dialog.secure .origin::before {
  background-image: url("images/light/ssl.png");
}

section.pin-dialog button[data-action="pin"] {
  padding-inline-start: 4rem;
  padding-inline-end: 2rem;
}

section.pin-dialog button[data-action="pin"]::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 1.2rem;
  offset-inline-start: 2rem;
  background-size: 1.6rem 1.6rem;
  background-image: url("images/pin.png");
}

@media (orientation: landscape) {
  section.pin-dialog {
    width: 26rem;
  }

  section.pin-dialog header h2 {
    line-height: 5rem;
  }

  section.pin-dialog .pin-site-name {
    line-height: 4rem;
  }

  section.pin-dialog footer {
    padding: 1.7rem 0;
  }
}

/* Private browser icon in rocketbar */
.appWindow.private > .chrome-plain.maximized .chrome-title-container,
.appWindow.private > .chrome-combined.maximized .chrome-title-container {
  padding-inline-start: 4rem;
}

.appWindow.private > .chrome.maximized .pb-icon {
  display: block;
  width: 4rem;
  height: 100%;
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
  right: 0.3rem;
  background-image: url("images/pb_rocketbar.png");
  background-repeat: no-repeat;
  background-size: 2.5rem;
}
html[dir="ltr"] .appWindow.private > .chrome.maximized .pb-icon { background-position: left 0.8rem center; }
html[dir="rtl"] .appWindow.private > .chrome.maximized .pb-icon { background-position: right 0.8rem center; }


/* SSL Lock Icons in rocketbar */
.chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  padding-inline-start: 5.5rem;

  background-repeat: no-repeat;
  background-size: 2rem;
  height: calc(var(--browser-navbar-height) - 0.8rem);
}
html[dir="ltr"] .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  background-position: left 3rem center;
}
html[dir="rtl"] .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  background-position: right 3rem center;
}


.private > .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  padding-inline-start: 6.5rem;
}
html[dir="ltr"] .private > .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  background-position: left 3.7rem top 0.1rem;
}
html[dir="rtl"] .private > .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  background-position: right 3.7rem top 0.1rem;
}

.chrome-plain .chrome-ssl-indicator {
  display: none;

  width: 1rem;

  background: no-repeat center / 2rem content-box;
}

.chrome-ssl-indicator-ltr {
  padding-right: .5rem; /* give some space between the indicator and the title */
}

.chrome-ssl-indicator-rtl {
  padding-left: .5rem; /* give some space between the indicator and the title */
  padding-right: 1rem; /* give some space between the indicator and the window's edge */
}

.chrome-plain:-moz-dir(ltr) .chrome-has-ssl-indicator .chrome-ssl-indicator-ltr,
.chrome-plain:-moz-dir(rtl) .chrome-has-ssl-indicator .chrome-ssl-indicator-rtl {
  display: unset;
}

.maximized .chrome-has-ssl-indicator[data-ssl="secure"] .chrome-ssl-indicator {
  background-image: url("images/light/ssl.png");
}

.maximized .chrome-has-ssl-indicator[data-ssl="broken"] .chrome-ssl-indicator {
  background-image: url("images/light/ssl_broken.png");
}

.site-icon {
  width: 3.4rem;
  height: calc(var(--browser-navbar-height) - 0.8rem);
  background-repeat: no-repeat;
  background-size: 2.4rem;
  background-image: url('images/loading_icon_white.svg');
  position: absolute;
  /* The icon renderer adds 4px padding for getting a smoother
     rounded icon. Reallocating to fit with the url bar
  */
  top: 0;
  offset-inline-start: 0;
  background-position: center;
}

.light .site-icon,
.light section.pin-dialog .pin-site-icon {
  background-image: url('images/loading_icon_dark.svg');
}

.homescreen > .chrome .site-icon,
.private > .chrome .site-icon {
  display: none;
}


/* Buttons */
.controls button,
.chrome-header > button {
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 4rem;
  width: 4rem;
  height: calc(var(--browser-navbar-height) - 0.8rem);
  line-height: calc(var(--browser-navbar-height) - 0.8rem);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 2rem;
  opacity: 1;
  border-radius: 0.4rem;
  position: relative;
}
html[dir="ltr"] .controls button { float: left; }
html[dir="rtl"] .controls button { float: right; }

.controls button:hover,
.chrome-header > button:hover {
  background-color: rgba(0,0,0,0.05);
}

.controls button:active,
.chrome-header > button:active {
  background-color: rgba(0,0,0,0.1);
}

.controls button[disabled],
.chrome-header > button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.chrome-header > button {
  margin: 0.4rem 0;
}

.controls.dark button:hover {
  background-color: rgba(255,255,255,0.05);
}

.controls.dark button:active {
  background-color: rgba(0,0,0,0.15);
}

/* Remove focus outline from button */
.controls button::-moz-focus-inner {
  border: 0;
}

.controls .reload-button,
.controls .stop-button {
  background-size: 2rem auto;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  width: 4rem;
  height: calc(var(--browser-navbar-height) - 0.8rem);
}

/* Vertically align butons outside of urlbar. */
.controls > button {
  position: relative;
}

.controls > button.menu-button,
.controls > button.windows-button {
  position: absolute;
  offset-inline-end: 0.4rem;
}

.controls > button.profile-button {
  position: absolute;
  offset-inline-end: 4.4rem;
}

.controls > button.library-button {
  position: absolute;
  offset-inline-end: 8.4rem;
}

.controls > button.downloads-button {
  position: absolute;
  offset-inline-end: 12.4rem;
}

.loading .controls .reload-button {
  display: none;
}

.controls .stop-button {
  display: none;
}

.loading .controls .stop-button {
  display: block;
}

.chrome.maximized .controls .menu-button[disabled] {
  opacity: 0.2;
}

.appWindow:not(.bar) > .chrome button {
  opacity: 0;
  transition: opacity 0.15s ease-in;
  pointer-events: none;
}

.appWindow:not(.bar) > .chrome.maximized button {
  opacity: 1;
  pointer-events: auto;
}


/* Default (dark) theme button styles */
html[dir="ltr"] .controls .back-button { background-image: url("images/dark/left.png"); }
html[dir="rtl"] .controls .back-button { background-image: url("images/dark/right.png"); }

html[dir="ltr"] .controls .forward-button { background-image: url("images/dark/right.png"); }
html[dir="rtl"] .controls .forward-button { background-image: url("images/dark/left.png"); }

.controls .menu-button {
  background-image: url("images/dark/options.png");
}

.controls .reload-button {
  background-image: url("images/dark/reload.png");
}

.controls .stop-button {
  background-image: url("images/dark/stop.png");
}

.controls .windows-button {
  background-image: url('images/dark/windows.png');
}

.controls .profile-button {
  background-image: url('images/dark/profile.png');
}

.controls .library-button {
  background-image: url('images/dark/library.png');
}

.controls .downloads-button {
  background-image: url('images/dark/downloads.png');
}

.chrome-header .side-tabs-button {
  background-image: url('images/dark/side_tabs.png');
}

.chrome-header .toggle-previews-button {
  background-image: url('images/dark/tab_previews.png');
}

.chrome-header .add-button {
  background-image: url('images/dark/add.png');
}

/* Light theme button styles */
html[dir="ltr"] .light .controls .back-button { background-image: url("images/light/left.png"); }
html[dir="rtl"] .light .controls .back-button { background-image: url("images/light/right.png"); }

html[dir="ltr"] .light .controls .forward-button { background-image: url("images/light/right.png"); }
html[dir="rtl"] .light .controls .forward-button { background-image: url("images/light/left.png"); }

.light .controls .menu-button {
  background-image: url("images/light/options.png");
}

.light .controls .reload-button {
  background-image: url("images/light/reload.png");
}

.light .controls .stop-button  {
  background-image: url("images/light/stop.png");
}

.light .controls .windows-button {
  background-image: url('images/light/windows.png');
}

.light .controls .profile-button {
  background-image: url('images/light/profile.png');
}

.light .controls .library-button {
  background-image: url('images/light/library.png');
}

.light .controls .downloads-button {
  background-image: url('images/light/downloads.png');
}

.light .chrome-header .side-tabs-button {
  background-image: url('images/light/side_tabs.png');
}

.light .chrome-header .toggle-previews-button {
  background-image: url('images/light/tab_previews.png');
}

.light .chrome-header .add-button {
  background-image: url('images/light/add.png');
}

/* Overflow menu */

gaia-overflow-menu button#new-window {
  background-image: url("images/menu_new_window.png");
}

gaia-overflow-menu button#add-to-home {
  background-image: url("images/menu_add_to_homescreen.png");
}

gaia-overflow-menu button#share {
  background-image: url("images/menu_share.png");
}

/* Progress */
.appWindow.collapsible > .chrome gaia-progress,
.appWindow.scrollable > .chrome gaia-progress {
  top: calc(var(--browser-tab-list-height) + var(--browser-navbar-height) + var(--grippy-padding));
}
.appWindow.bar > .chrome gaia-progress,
.appWindow.fullscreen-app > .chrome gaia-progress,
.appWindow.popupWindow > .chrome gaia-progress,
.appWindow.trustedWindow > .chrome gaia-progress {
  top: 0;
}

/* App specifics */
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls button {
  display: none;
}

.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .urlbar {
  width: calc(100% - 8rem);
}

.appWindow:not(.collapsible) > .chrome-combined .title {
  width: calc(100%);
}

.chrome .chrome-header {
  position: absolute;
  top: 0;
  width: calc(100% - 2rem);
  height: var(--browser-tab-list-height);
  pointer-events: none;
  padding: var(--grippy-padding) 1rem 0;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.125);

  transition: transform 0.3s ease, visibility 0.3s ease;
  transform: translateY(-100%);
  visibility: hidden;
}

.chrome.maximized .chrome-header {
  transform: translateY(0);
  visibility: visible;
}

.chrome .tab-list {
  margin: 0;
  padding: 0 0.8rem;
}

.chrome .tab-list .tab {
  pointer-events: all;
  width: 22rem;
  height: var(--browser-tab-list-height);
  display: inline-flex;
  padding: 0 1rem;
  box-sizing: border-box;
  align-items: center;
  border-radius: 0.8rem 0.8rem 0 0;
  overflow-x: auto;
  overflow-y: hidden;
  transition: background-color 0.2s;
}

.chrome .tab-list .tab:hover {
  background-color: var(--transparent, rgba(0,0,0,0.05));
  transition: none;
}

.chrome .tab-list .tab:active {
  background-color: var(--transparent-plus, rgba(0,0,0,0.1));
  transition: none;
}

.chrome .tab-list .tab[aria-selected="true"] {
  background-color: var(--background-plus, #fff);
  transition: none;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2), 0 0.3rem 0.6rem rgba(0,0,0,0.3), 0 0.1rem 0.2rem rgba(0,0,0,0.2);
  border-radius: 1rem 1rem 0 0;
}

.chrome .tab-list .tab .favicon {
  width: 1.6rem;
  height: 1.6rem;
  margin-inline-end: 0.6rem;
}

.chrome .tab-list .tab .title {
  width: 100%;
  height: 100%;
  line-height: -moz-block-height;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.chrome .tab-list .tab button {
  width: 3.2rem;
  height: 3.2rem;
  background: transparent no-repeat center / 1.6rem;
  border: none;
  border-radius: 0.4rem;
}

.chrome .tab-list .tab button:hover {
  background-color: var(--transparent, rgba(0,0,0,0.05));
}

.chrome .tab-list .tab button:active {
  background-color: var(--transparent-plus, rgba(0,0,0,0.1));
}

.chrome .tab-list .tab .close-button {
  background-image: url(images/dark/stop.png);
}

.chrome.light .tab-list .tab .close-button {
  background-image: url(images/light/stop.png);
}

.chrome .tab-list .tab[aria-selected="true"] .close-button {
  background-image: url(images/light/stop.png);
}

[data-theme="dark"] .chrome .tab-list .tab[aria-selected="true"] .close-button {
  background-image: url(images/dark/stop.png);
}
