gaia-subheader[hidden] {
  display: none;
}

/**
 * Gaia Subheader
 *
 * Dividing header usually found
 * heading and separating lists.
 */

gaia-subheader {
  display: block;
  padding: 0 3rem;
  border-bottom: solid 0.1rem #e6e6e6;
  color: #424242;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: start;
  max-width: 788px;
  margin: 0 auto;
  box-sizing: border-box;
}

/**
 * [data-skin="organic"]
 */

gaia-subheader[skin="organic"] {
  border: 0;
  background-color: #e7e9ec;
  color: #4d4d4d;
}

/**
 * [data-skin="dark"]
 */

gaia-subheader[skin="dark"] {
  border: 0;
  background-color: #2c353b;
  color: #fff;
}
