/* ----------------------------------
 * Status
 * ---------------------------------- */

html[dir="ltr"] section[role="status"] [dir] { text-align: left; }
html[dir="rtl"] section[role="status"] [dir] { text-align: right; }

section[role="status"] {
  position: absolute;
  z-index: 100;
  left: 1rem;
  right: 1rem;
  bottom: 4.5rem;
  color: #fff;
}
html[dir="ltr"] section[role="status"] { background-position: left top; }
html[dir="rtl"] section[role="status"] { background-position: right top; }

section[role="status"] p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.2rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  background-color: #4d4d4d;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2), 0 0.6rem 1.5rem rgba(0,0,0,0.2), 0 0.2rem 0.4rem rgba(0,0,0,0.3);
  max-width: 768px;
  box-sizing: border-box;
}

section[role="status"] p strong {
  font-weight: bold;
}
