#widgets-motion {
  --tray-invisible-gripper-height: 2rem;
  --scrollbar-width: 15px;
  --software-buttons-width-adjustment: 0px;
  --software-buttons-height-adjustment: 0px;

  position: absolute;
  offset-inline-end: 0;
  width: 500px;
  height: calc(100% + var(--scrollbar-width));
  overflow-x: scroll;
  overflow-y: hidden;

  pointer-events: none;
  will-change: scroll-position;
}
html[dir="ltr"] #widgets-motion {
  direction: rtl;
}
html[dir="rtl"] #widgets-motion {
  direction: ltr;
}

#widgets {
  max-height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  pointer-events: all;
  background-color: var(--background, #e7e7e7);
  position: absolute;
  offset-inline-end: 100%;
  bottom: 0;
  overflow: hidden;
  margin: 1rem;
  border-radius: 1.5rem;
  box-shadow:
    0 0.5rem 1rem rgba(0,0,0,0.2),
    0 0.3rem 0.6rem rgba(0,0,0,0.3),
    0 0.1rem 0.2rem rgba(0,0,0,0.2);
}

#widgets > #widgets-online,
#widgets > #widgets-offline {
  display: none;
}

#widgets[data-state="online"] > #widgets-online,
#widgets[data-state="offline"] > #widgets-offline {
  display: block;
}

#widgets > #widgets-online iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}
