/*csslint empty-rules: false*/
/* See bug 1053721 */
:root {
  --software-home-button-height: 4rem;
  --statusbar-height: 3.2rem;
  --statusbar-safezone-left: 0;
  --statusbar-safezone-right: 0;
  --backdrop-blur-radius: 20px;
  --backdrop-filter: saturate(180%) blur(--backdrop-blur-radius);
  --backdrop-opacity: 0.5;

  /* The scale factor for the shrinking rocketbar */
  /* 0.682 = --statusbar-height (3.2rem) / rocketbar height (3.8rem) */
  --rocketbar-scale: 0.8;
  --rocketbar-urlbar-height: 3.8rem;

  /* To avoid statusbar getting cut-off on rounded screen devies */
  /* I added this for that */
  --screen-border-radius: 0;

  /* Panel configuration values */
  /* Might get handy to make the taskbar customizable */
  --panel-height: 4rem;
  --panel-border-radius: 1.5rem;
  --panel-margin: 1rem;

  /* Browser configuration values */
  --chrome-tab-list-height: 4rem;
  --chrome-navbar-height: 4rem;
  --chrome-titlebar-padding: 0.4rem;
  --chrome-titlebar-button: 2.4rem;
  --chrome-border-radius: 1.6rem;
}

[data-thickness="compact"] {
  --software-home-button-height: 3.6rem;
  --statusbar-height: 2.8rem;

  /* The scale factor for the shrinking rocketbar */
  /* 0.682 = --statusbar-height (3.2rem) / rocketbar height (3.8rem) */
  --rocketbar-scale: 0.737;

  /* Panel configuration values */
  /* Might get handy to make the taskbar customizable */
  --panel-height: 3.6rem;
  --panel-border-radius: 1rem;
  --panel-margin: 0.4rem;

  /* Browser configuration values */
  --chrome-tab-list-height: 3.6rem;
  --chrome-navbar-height: 3.6rem;
  --chrome-titlebar-padding: 0.35rem;
  --chrome-titlebar-button: 2.1rem;
  --chrome-border-radius: 1.4rem;
}

[data-thickness="touch"] {
  --software-home-button-height: 4.4rem;
  --statusbar-height: 3.6rem;

  /* The scale factor for the shrinking rocketbar */
  /* 0.682 = --statusbar-height (3.2rem) / rocketbar height (3.8rem) */
  --rocketbar-scale: 0.888;

  /* Panel configuration values */
  /* Might get handy to make the taskbar customizable */
  --panel-height: 4.4rem;
  --panel-border-radius: 2rem;
  --panel-margin: 1rem;

  /* Browser configuration values */
  --chrome-tab-list-height: 4.4rem;
  --chrome-navbar-height: 4.4rem;
  --chrome-titlebar-padding: 0.45rem;
  --chrome-titlebar-button: 2.7rem;
  --chrome-border-radius: 1.8rem;
}
