#brightness-slider,
#audio-slider {
  height: 5.6rem;
  margin: 0 1.5rem 1rem;
  padding: 1rem;
  border: none;
  background: var(--background-plus, #fff);
  box-sizing: border-box;
  border-radius: 0.8rem;
  display: flex;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

#brightness-slider section,
#audio-slider section {
  flex: 1;
}

#brightness-slider [data-icon]:before,
#audio-slider [data-icon]:before {
  line-height: 3rem;
  color: var(--text-color, #333);
  font-size: 2.4rem;
  text-align: center;
  width: 3rem;
}

#brightness-slider input[type="range"],
#audio-slider input[type="range"] {
  border: none;
  padding: 0;
}

#brightness-slider .pack-checkbox {
  height: 100%;
  width: 4rem;
}
html[dir="ltr"] #brightness-slider .pack-checkbox {
  margin-left: 1rem;
  border-left: solid 0.1rem rgba(0,0,0,0.125);
}
html[dir="rtl"] #brightness-slider .pack-checkbox {
  margin-right: 1rem;
  border-right: solid 0.1rem rgba(0,0,0,0.125);
}

#audio-slider {
  margin: 0 1.5rem 1.5rem;
}
