html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--background, #e7e7e7);
}

.canvas-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 7.2rem - 5rem - 1.5rem);
  background: #f4f4f4;
  overflow: auto;
}

#drawing-canvas {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  resize: both;
  overflow: scroll;
  transform-origin: 0 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 1.2rem;
}

.toolbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13rem;
}

.colors {
  height: 5rem;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}

#color-list {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 5rem);
  display: flex;
  height: 5rem;
  padding: 0 0 0 1rem;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: auto;
}

#color-list > div {
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 50%;
  min-width: 4rem;
  max-width: 4rem;
  height: 4rem;
  outline: solid 0.3rem transparent;
  -moz-outline-radius: 50%;
  transition: all 0.2s ease;
}

#color-picker {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

.sliders {
  height: 7.2rem;
  width: 100%;
  margin: 0 0 0.8rem;
}

.sliders > input[type="range"] {
  width: calc(100% - 2rem);
  height: 3.6rem;
  margin: 0 auto;
  max-width: 758px;
  display: block;
  background: none;
}

.sliders > input[type="range"]::-moz-range-track,
.sliders > input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  background: var(--background-eta, #d8d8d8);
  border: none;
  height: 2.4rem;
  border-radius: 1.2rem;
}

.sliders > input[type="range"]::-moz-range-progress {
  background: var(--accent-color, #0061e0);
  height: 2.4rem;
  border-radius: 1.2rem;
}

.sliders > input[type="range"]::-moz-range-thumb,
.sliders > input[type="range"]::-webkit-slider-thumb {
  width: 1.6rem;
  height: 1.6rem;
  background: var(--background-plus, #fff);
  border-radius: 3.2rem;
  border: solid 0.4rem var(--accent-color, #0061e0);
}

/* Selected */
#color-list > .selected,
#color-picker.selected {
  outline: solid 0.3rem #000;
  outline-offset: -0.3rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.25);
}

#color-list > .dark.selected {
  outline: solid 0.3rem #fff;
}

/* Options */
#save-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  min-width: 3.6rem;
  padding: 0 0.8rem;
  box-sizing: border-box;
  height: 3.6rem;
  border-radius: 1.3rem;
  background: var(--background-plus, #fff);
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 1.6rem;
  color: var(--text-color, #333);
}

#save-button:before {
  font-size: 2rem;
}
